.vidéo-container{
    display: flex;
    flex-wrap: wrap;
    box-sizing: none;
}
@media only screen and (max-width: 1002px) {
     
        .vidéo-droite{
            margin: 0;
    }
    
}
.vidéo-droite{
   
    float: right;

}
